/* @import '../styles.css'; */

/* Secure correct behavior for HTML5 semantic elements */
header,
nav,
main,
section,
article,
figure,
footer,
aside {
  display: block;
}

body {
  background: #efefef;
  margin: 0px;
}

header {
  background: url("../img/pexels-photo-247791.png");
  height: 50vh;
  position: relative;
  width: 100%;
}

.page-title {
  text-align: center;
  padding: 10px 0px;
  width: 500px;
  position: relative;
  top: 25%;
  left: 25%;
  color: #caebf2;
  text-shadow: black 0 0 10px;
}

.page-title > * {
  display: inline-block;
  vertical-align: middle;
}

#avatar {
  border-radius: 100%;
  border: 3px solid #caebf2;
  display: inline-block;
  position: relative;
  top: -13px;
}

.page-title h1, .page-titlke h2 {
  margin: 7px;
  text-align: left;
}

.page-title h1 {
  font-family: "ansonregular";
  font-size: 3em;
}

.page-title h2 {
  font-family: "League Gothic";
  font-size: 2.5em;
  font-weight: bolder;
}

.navigation {
  position: absolute;
  bottom: 0px;
  width: 100%;
  border-top: 2px solid lightsteelblue;
}

nav {
  text-align: center;
  padding: 5px 0px;
  border-bottom: 3px solid lightsteelblue;
  transition: all 1s;
  width: 100%;
  background: #3f6d8b;
}

/* .fixed-nav nav {
  text-align: center;
  padding: 5px 0px;
  border-bottom: 3px solid lightsteelblue;
  transition: all .5s;
  width: auto;
  background: #3f6d8b;
}
 */

#site-nav a:link {
  color: lightsteelblue;
  text-decoration: none;
}

#site-nav a:visited {
  color: lightsteelblue;
  text-decoration: none;
}

#site-nav li:hover, #site-nav li:hover > * {
  background: lightsteelblue;
  color: #3f6d8b;
  cursor: pointer;
}


.fixed-nav #site-nav {
  position: fixed;
  transform: scale(1);
  top: 0;
  z-index: 2;
}


#site-nav > li {
  text-align: center;
  display: inline-block;
  border: 1px solid #caebf2;
  border-radius: 5px;
  padding: 5px 40px;
  margin: 0px 10px;
  width: 60px;
}

.fixed-nav #site-nav > li {
  border: 0px;
  text-transform: uppercase;
}

.fixed-nav #site-nav li:hover, .fixed-nav #site-nav li:hover > * {
  background: #3f6d8b;
  color: lightsteelblue;
}

.fixed-nav #site-nav a:hover {
  font-weight: bold;
}


#external-links {
  text-align: center;
  padding: 0px;
  margin-bottom: 0px;
  background: lightsteelblue;
}

.fixed-nav #external-links {
  position: fixed;
  bottom: 15px;
  right: 0;
  width: auto;
  z-index: 1;
  border: none;
  border-radius: 15px 0 0 15px;
}

.fixed-nav #external-links {
  display: block;
  background: #3f6d8b;
  /* display: inline; */
  list-style-type: lower-alpha;  
}

#external-links > li {
  text-align: center;
  display: inline-block;
  padding: 5px 40px;
  margin: 0px 10px;
  width: 60px;
}

.fixed-nav #external-links > li {
  display: block;
  border: none;
  padding: 10px;
  margin: 0;
  width: auto;
}

.icon-link {
  height: 30px;
  width: 30px;
}

section {
  padding: 5px 0px;
}

.developer-profile {
  text-align: justify;
  padding: 15px 45px;
  height: 50vh;
  font-family: "League Gothic";
  position: relative;
}

.developer-profile .qoute {
  position: absolute;
  top: 10%;
  left: 20%;
  width: 60%;
  font-size: 1.5em;
}


section:nth-child(even) {
  background: #dfdfdf;
}

.parallax-section {
  padding: 50px 80px;
  text-align: justify;
  color: #ddd;
  background-color: #282E34;
}

.bgimg-1, .bgimg-2, .bgimg-3, header {
  position: relative;
  /* opacity: 0.65; */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("../img/pexels-photo-196658.jpeg");
  min-height: 400px;
}

.bgimg-2 {
  background-image: url("../img/pexels-photo-51415.jpeg");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("../img/pexels-photo-97077.jpeg");
  min-height: 400px;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3, header {
        background-attachment: scroll;
    }
}

footer {
  background: #caebf2;
  text-align: center;
  padding: 1px;
  position: relative;
  bottom: 0px;
}

body {
  font-family: "arial";
}

#scroll-down {
  position: fixed;
  bottom: 5%;
  right: 7%;
  border: 3px solid lightsteelblue;
  border-radius: 100%;
  background: #3f6d8b;
  color: lightsteelblue;
  text-align: center;
  font-size: 2em;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

#scroll-down:hover {
  background: lightsteelblue;
  border: 3px solid #3f6d8b;
  border-radius: 100%;
  color: #3f6d8b;
}

#scroll-down .hidden {
  visibility: hidden;
  bottom: 0px;
}
