body {
  margin: 0;
  background: rgba(189, 204, 219, .3);

}

.logo {
  height: 100px;
  width: 165px;
  background: -webkit-radial-gradient(#77aaee, rgba(153, 204, 255, 0));
  background: -moz-radial-gradient(#77aaee, rgba(153, 204, 255, 0));
  background: radial-gradient(circle, #77aaee, rgba(153, 204, 255, .1));
  background-size: cover;
  border-radius: 15px;
  margin-right: 0;
}

.logo img {
  position: absolute;
  left: 0%;
}

.page-title {
  transform: translateY(-70px);
  height: 0px;
}

.page-title h1 {
  margin: 0;
  padding: 0;
}

a {
  transition: color 2s ease-in-out;
}

a:hover {
  color: red;
}

header {
  padding-top: 5px;
  padding-left: 5px;
  background:  linear-gradient(#77aaee, rgba(153, 204, 255, 1));
  text-align: center;
}

nav {
  margin: 0px;
  margin-left: -5px;
  padding: 2px;
  border-bottom: solid 1px #225588;
  background-color: #88bbff;
  background: linear-gradient(left, #88bbff, rgba(153, 204, 255, 1));
  background: -webkit-linear-gradient(left, #88bbff, rgba(153, 204, 255, 1));
  background: -moz-linear-gradient(left, #88bbff, rgba(153, 204, 255, 1));
  text-align: center;
}

nav li {
  margin: 0;
  padding: 0 20px;
  display: inline;
  text-align: center;
}

navbar {
  position: fixed;
  display: block;
  top: 107px;
  left: 213px;
  background-color: #88bbff;
  background: linear-gradient(top, #88bbff, rgba(153, 204, 255, 0));
  background: -webkit-linear-gradient(top, #88bbff, rgba(153, 204, 255, 0));
  background: -moz-linear-gradient(top, #88bbff, rgba(153, 204, 255, 0));
  text-align: center;
}

navbar li {
  margin: 0;
  padding: 0 20px;
  display: inline;
  text-align: center;
}

main {
}

article {
  width: 650px;
  margin: 0 auto;
  padding: 0 20px;
  border-bottom: solid 1px #77aaee;
}

article:last-of-type {
  border: 0;
}

footer {
  border-top: solid 1px #77aaee;
  background: rgba(136, 187, 255, 1);
  background: linear-gradient(top, rgba(136, 187, 255, 1),  rgba(136, 187, 255, 0));
  background: -webkit-linear-gradient(top, rgba(136, 187, 255, 1),  rgba(136, 187, 255, 0));
  background: -moz-linear-gradient(top, rgba(136, 187, 255, 1),  rgba(136, 187, 255, 0));
  color: #225588;
  text-align: center;
}

footer p {
  margin: 0px;
  padding: 5px;
}
