body, h1, p {
  margin: 0;
  padding: 0;
}

ul, ol {
  margin: 0;
}

body {
  background: #EEEEEE url(../images/cork-wallet.png) bottom center repeat;
  color: #006600;
}

.logo {
  height: 100px;
  width: 165px;
  background: -webkit-radial-gradient(#77aaee, rgba(153, 204, 255, 0));
  background: -moz-radial-gradient(#77aaee, rgba(153, 204, 255, 0));
  background: radial-gradient(circle, #77aaee, rgba(153, 204, 255, .1));
  background-size: cover;
  border-radius: 15px;
  margin-right: 0;
}

.logo img {
  position: absolute;
  left: 0%;
}

.page-title {
  transform: translateY(-70px);
  height: 0;
}

.page-title h1 {
  margin: 0;
  padding: 0;
  border: 0;
  background: rgba(0, 0, 0, 0);
}

header {
  padding-top: 5px;
  padding-left: 5px;
  background:  linear-gradient(#77aaee, rgba(153, 204, 255, 1));
  text-align: center;
}

h1 {
  padding-top: 30px;
  padding-bottom: 35px;
  border-bottom: solid 2px #336699;
  background-color: #99ccff;
  text-decoration-color: black;
}

h2 {
  padding-left: 5px;
  border-bottom: solid 2px #336699;
  color: #336699;
}

p {
  padding-top: 10px;
  padding-left: 10px;
}


ul {
  margin: 5px;
}

ul li {
}

a {
  color: darkblue;
}

nav {
  margin: 0px;
  margin-left: -5px;
  padding: 2px;
  border-bottom: solid 1px #225588;
  background-color: #88bbff;
  background: linear-gradient(left, #88bbff, rgba(153, 204, 255, 1));
  background: -webkit-linear-gradient(left, #88bbff, rgba(153, 204, 255, 1));
  background: -moz-linear-gradient(left, #88bbff, rgba(153, 204, 255, 1));
  text-align: center;
}

nav li {
  padding: 0 20px;
  display: inline;
  text-align: center;
}

main {
  margin: 0px auto 0px auto;
  width: 735px;
}

figure {
  height: 200px;
  background: url(../images/20160611_144730.jpg);
  background-size: cover;
  position: relative;
  margin: 0 auto 8px auto;
  border-radius: 5px;
}

span {
  padding: 2px;
  margin: 0;
  background: rgba(0,0,0,.8);
  position: relative;
  top: 188px;
  float: right;
  border-radius: 5px;
  text-align: right;
  color: #008800;
}

article p {
  padding: 0px 0px 0px 10px;
}

aside {
  float: right;
}

footer {
  border-top: solid 1px #225588;
  background: rgba(136, 187, 255, 1);
  background: linear-gradient(top, rgba(136, 187, 255, 1),  rgba(136, 187, 255, 0));
  background: -webkit-linear-gradient(top, rgba(136, 187, 255, 1),  rgba(136, 187, 255, 0));
  background: -moz-linear-gradient(top, rgba(136, 187, 255, 1),  rgba(136, 187, 255, 0));
  color: #225588;
  text-align: center;
}

footer p {
  margin: 0px;
  padding: 5px;
}

.hide-article figure {
  height: 0;
  opacity: 0;
}

.hide-article figcaption {
  height: 0;
  opacity: 0;
}

.hide-article p {
  height: 0;
  opacity: 0;
}

@media screen and (max-width: 735px) {
  body {
    color: red;
  }
}

@media (max-width: 500px) {

}
