body {
  margin: 0;
  padding: 0;
  background: #dddddd;
}

header {
  background: #aaaaaa;
  text-align: center;
  height: 120px;
  line-height: 120px;
  position: relative;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  line-height: 1em;
}

.login {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  line-height: 1em;
}

nav {
  text-align: center;
  background: #999999;
  position: absolute;
  width: 100%;
  bottom: 0;
  line-height: 1em;
  border-top: solid #888888 1px;
}

nav li {
  padding: 0 20px;
  display: inline;
  text-align: center;
  border-right: solid #888888 1px;
}

nav li:last-child {
  border-right: none;
}

main {
  margin: 0 auto;
  width: 750px;
}

ul li {
  display: inline;
}


article {
  border: solid 2px;
  border-radius: 15px;
  padding: 0px 3px;
  margin: 5px;
  overflow: hidden;
}

article p {
  padding: 0px 0px 0px 10px;
}

article ol p {
  margin: 0;
  padding-left: 1em;
}

.Buddhism h2 {
  background-color: grey;
  background: url(../images/image3344.jpg);
  border-radius: 12px 12px 0 0;
  margin: 0 -3px;
  padding: 5px 5px;
  height: 150px;
  line-height: 50px;
}

.Buddhism-end {
  background-color: grey;
  background: url(../images/image3344.jpg);
  border-radius: 12px 12px 0 0;
  margin: 0 -3px;
  padding: 5px 5px;
  height: 150px;
  line-height: 50px;
}

.Islam h2 {
  background-color: grey;
  background: url(../images/image4192.jpg);
  border-radius: 12px 12px 0 0;
  margin: 0 -3px;
  padding: 5px 5px;
  height: 150px;
  line-height: 50px;
}
